{% extends 'base.html.twig' %}

{% block title %}World of Cards{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    <h1>Buena buena.</h1>
{% endblock %}

{% block footer %}{% endblock %}
