.card-deck {
    display: flex;
    flex-direction: column;
}

.card-deck__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem 1.5rem;

    padding: 2.5rem;
}