:root {
    --card-hover: 5px solid blue;
    --card-selected: 5px solid green;
    --card-slot-background-color: #e0e0e0;
    --card-slot-border: 2px dashed #bbb;
}

.card-deck__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 200px;
}


.card-slot {
    aspect-ratio: 0.7;
    background: var(--card-slot-background-color);
    border: var(--card-slot-border);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-slot::before {
    content: "+";
    font-size: 2rem;
    color: #aaa;
}

.card {
    & input {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.card.card-deck__card--selected {
    border: var(--card-selected);
}

.active {
    border: 2px solid #173563;

    & a {
        color: #173563;
    }
}