html {
    font-size: 18px;
}

body {
    margin: 0;

    background-color: whitesmoke;
}

header {
    display: grid;
    grid-auto-flow: column;

    padding: 1.1rem 2.5rem;

    outline: 1px solid red;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    outline: 1px solid green;

    & > ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        list-style: none;
    }
}

main {
    margin: 0 5rem;

    outline: 1px solid red;
}

footer {
    padding: 0.5rem 2.5rem;

    outline: 1px solid red;
}

ul, ol {
    margin: 0;
    padding: 0;
    
    outline: 1px solid pink;
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

.layout-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

