html {
    font-size: 18px;
}

body {
    margin: 0;

    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;

    padding: 0 3rem;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    list-style-type: none;
}

.authentication__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    list-style-type: none;
}

main {
    margin: 0 5rem;
}

aside {}

.aside__list {
    list-style-type: none;
}

footer {
    padding: 0.5rem 2.5rem;
}

ul, ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

.layout-content {
    display: grid;
    grid-auto-flow: column;
}