<footer class="bg-white dark:bg-gray-800 flex-1">
    <div class="max-w-screen-xl mx-auto px-4 py-8 grid grid-cols-2 md:grid-cols-4 gap-6 text-sm text-gray-600 dark:text-gray-300">
        <div>
            <h3 class="font-semibold text-gray-800 dark:text-white mb-2 uppercase">Compañía</h3>

            <ul class="space-y-1">
                <li><a href="#" class="hover:underline">Inicio</a></li>
                <li><a href="{{ path('card_list') }}" class="hover:underline">Cartas</a></li>
                <li><a href="#" class="hover:underline">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
</footer>
