{% extends 'base.html.twig' %}

{% block title %}Jugar{% endblock %}

{% block main %}{% endblock %}

{% block footer %}
    <ul>
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
        <li>Link 4</li>
        <li>Link 5</li>
    </ul>
{% endblock %}
