card-deck-container {
    display: flex;
    background-color: lightblue;

    & > ul[data-output-cards] {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 0;
        list-style: none;
        outline: 1px solid green;
    }
}

.hidden {
    display: none;
}