{% extends 'base.html.twig' %}

{% block title %}Editar perfil{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="/assets/styles/form.css" />
{% endblock %}

{% block main %}
    <main>
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" value="Editar">
        {{ form_end(form) }}
    </main>
{% endblock %}